
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
/* share style */
.display-flex{
   display: flex;

}
/* navbar related styles */
.navbar{
  background-color: #412567;
  padding: 30px 0;
}
.container{
  max-width: 1200px;
  width: 75%;
  margin: 0 auto;

}


.navbar .container{
  justify-content: space-between;

}
.menu{
  list-style-type: none;
  align-items: center;
  gap: 32px;
} 
.container .menu a{
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #FFFFFF;
}
.container button{
  background: linear-gradient(to right, #F7E93F 0%, #FB09B4 51%,#9100F8 100%);
  font-size:16px;
  font-weight: 500;
  padding: 12.5PX 16px;
  border-radius: 50px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
}