.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* share style */
.display-flex {
  display: flex;
}
header {
  background-color: #1a0b2e;
}
/* navbar related styles */
.navbar {
  padding: 30px 0;
  border-bottom: 1px solid #412467;
}
.container {
  max-width: 1200px;
  width: 93%;
  margin: 0 auto;
}
.navbar .container {
  justify-content: space-between;
}
.menu {
  list-style-type: none;
  align-items: center;
  gap: 32px;
}
.container .menu a {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
}
.navbar-button {
  background: linear-gradient(to right, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  border: none;
  color: #ffffff;
}
.Listen-button {
  background: linear-gradient(to right, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  margin-top: 24px;
  border: none;
  color: #ffffff;
}

.Subscribe-button {
  margin-top: 24px;
  border: 1px solid #00ff88;
  color: #00ff88;
  background: transparent;
}
.btn {
  padding: 12.5px 20px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
 transition: all 0.3s ease;
}
.btn:hover {
  background:#02456e;
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}
.banner-button {
  display: flex;
  align-items: center;
  gap: 8px;
}
.banner-button button {
  display: flex;
  align-items: center;
  gap: 8px;
}

.banner-circle {
  background: url(./assets/hero-circle.png);
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.banner-circle span {
  font-size: 18px;
  font-weight: 600;
  color: #1a0b2e;
  background-color: #00ff88;
  padding: 8px 16px;
  border-radius: 50px;
  border: none;
  position: absolute;
  top: 10px;
  right: 28px;
  box-shadow: 0px 3px 27px 0px #00ff88;
}
.banner-circle span {
  animation: floatGlow 2.5s ease-in-out infinite;
}

@keyframes floatGlow {
  0% {
    transform: translateY(0);
    box-shadow: 0 0 10px #00ff88;
  }
  50% {
    transform: translateY(-8px);
    box-shadow: 0 0 25px #00ff88;
  }
  100% {
    transform: translateY(0);
    box-shadow: 0 0 10px #00ff88;
  }
}
.banner {
  background-image: url(./assets/hero-bg.png);
  background-size: cover;
  background-position: center center;
  padding: 101px 0;
  background-repeat: no-repeat;
}
.banner-content {
  max-width: 550px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-content h1 {
  font-size: 60px;
  font-weight: 900;
  color: #ffffff;
  margin-top: 40px;
}
.banner-content p {
  font-size: 16px;
  margin-top: 8px;
  color: #ffffff;
}
.about {
  background: #1a0b2e;
  
  padding-top: 50px;
  padding-bottom: 120px;
}

.about-content h2 {
  font-size: 48px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}
.about-content .about-paragraph {
  font-size: 16px;
  color: #ffffff;
  line-height: 20px;
  margin: 0 auto;
  max-width: 900px;
  text-align: center;
}
.about-para {
  font-size: 16px;
  color: #ffffff;
  margin: 0 auto;
  max-width: 900px;
  text-align: center;
  margin-bottom: 80px;
  margin-top: 40px;
}
.about-number {
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 80px 0 0;
  border-top: 1px solid #412467;


}

.about-number-item h3 {
  color: #00ff88;
  font-size: 48px;
}

.about-number-item p {
  margin-top: 16px;
  font-size: 16px;
  color: #ffffff;
  line-height: 20px;
}
.choose{
    background: #230e3d;
    padding: 120px 0;
}
.choose h2{
     font-size: 48px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;

    
}
.choose-cards{
    display: grid;
    grid-template-columns: repeat(3,380px);
    gap: 30px;
}
.c-card{
    background: #2a0f4d;
    padding: 40px;
    border-radius: 40px;
    
}
.c-card img{
    margin-bottom: 21px;
    
}
.c-card h3{
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 16px;
}
.c-card p{
    font-size: 16px;
    font-weight: 400;
    color: #ffffffb7;
    margin-bottom: 16px;
    line-height: 24px;
}

.col-span-2{
    grid-column: span 2;
}
.col-row-2{
    grid-row: span 2;
}
.c-card-padding-1{
    padding: 111px 40px 107px;
}
.feautures {
  padding: 120px 0;
  background: #1a0b2e;
}
.feautures h3 {
  font-size: 48px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}
.feautures-cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.f-card{
    width: 380px;
    border-radius: 24px;
    border-radius: 24px;
    animation: floatGlow 2.5s ease-in-out infinite;
}
.f-card iframe{
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    width: 100%;
    height: 214px;
    
}
.f-card-body{
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    background: #250d44;
    padding: 24px;
}
.f-card-body h4{
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 16px;
}
.f-card-body p{
      color: #ffffffb7;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 24px;
}
.f-card-video {
    position: relative;
}
.f-card-video span{
    width: 60px;
    height: 60px;
    background: linear-gradient(to right, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
}
.time-line{
    display: flex;
    gap: 6px;
    align-items: center;
    color: #00ff88;
    font-weight: 700;
}
footer{
    background: url(./assets/footer-bg.png)center center / cover no-repeat;
    padding: 120px 0;


}
footer .footer-content{
    max-width: 544px;
    margin: 0 auto;
    text-align: center;
}
footer .footer-content img{
    width: 410px;
    margin-bottom: 32px;

}
footer .footer-content ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 30px;
    
}
footer .footer-content ul li{
    display: flex;
     gap: 3px;
     color: #ffffffb7;
     font-size: 16px;
}
footer .footer-content ul img{
    width: 24px;
    height: 24px;
}
footer small{
      color: #ffffffb7;
     font-size: 16px;
}
/* Hamburger Menu */
.hamburger-menu {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
}

@media (max-width: 1023px) {
  .hamburger-menu {
    display: block;
  }
}