
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
/* share style */
.display-flex{
   display: flex;

}
header{
  background-color: #1A0B2E;

}
/* navbar related styles */
.navbar{
   padding: 30px 0;
   border-bottom: 1px solid #412467;
}
.container{
  max-width: 1200px;
  width: 93%;
  margin: 0 auto;

}
.navbar .container{
  justify-content: space-between;
  border-bottom: ;

}
.menu{
  list-style-type: none;
  align-items: center;
  gap: 32px;
} 
.container .menu a{
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #FFFFFF;
}
.navbar-button{
  background: linear-gradient(to right, #F7E93F 0%, #FB09B4 51%,#9100F8 100%);
  border: none;
  color: #FFFFFF;
  
   
}
.Listen-button{
   background: linear-gradient(to right, #F7E93F 0%, #FB09B4 51%,#9100F8 100%);
   margin-top: 24px;
   border: none;
   color: #FFFFFF;
}
  
.Subscribe-button {
   margin-top: 24px;
   border: 1px solid #00FF88;
   color: #00FF88;
   background: transparent;

   
}
.btn{
   padding: 12.5px 20px;
   border-radius: 50px;
   font-size:16px;
   font-weight: 600;
   cursor: pointer;
}
.banner-button{
  display: flex;
  align-items: center;
  gap: 8px;
}
.banner-button button{
  display: flex;
  align-items: center;
  gap: 8px;
}

.banner-circle{
  background: url(./assets/hero-circle.png);
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.banner-circle span{
  font-size: 18px;
  font-weight: 600;
  color: #1A0B2E;
  background-color: #00FF88;
  padding: 8px 16px;
  border-radius: 50px;
  border: none;
  position: absolute;
  top: 10px;
  right:26px;
  box-shadow: 0px 3px 27px 0px #00FF88;


}
.banner-circle span{
  animation: floatGlow 2.5s ease-in-out infinite;
}

@keyframes floatGlow {
  0% {
    transform: translateY(0);
    box-shadow: 0 0 10px #00FF88;
  }
  50% {
    transform: translateY(-8px);
    box-shadow: 0 0 25px #00FF88;
  }
  100% {
    transform: translateY(0);
    box-shadow: 0 0 10px #00FF88;
  }
}
.banner{
    background-image:url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center center;
    padding: 101px 0;
    background-repeat: no-repeat;
}
.banner-content{
  max-width: 550px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-content h1{
  font-size: 60px;
  font-weight: 900;
  color: #FFFFFF;
  margin-top: 40px;
}
.banner-content p{
  font-size: 16px;
  margin-top: 8px;
  color: #FFFFFF;
}
